{% extends 'base.html' %}


{% block title %}

{% endblock %}

{% block content %}
    {% for book in object_list %}
        <p>Book: {{ book.title }}</p>
        <p>Author: {{ book.authors }}</p>
        <p>published date: {{ book.published }}</p>
        <p>ID: {{ book.industryIndentifiers }}</p>
        <p>Pages: {{ book.pageCount }}</p>
        <img src="{{ book.imageLinks }}">
        <p>Lang: {{ book.language }}</p>
        <hr>
    {% empty%}
        <p>Not books yet.</p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
